<div class="container">
  <div class="row">
    <h3 class="col text-muted">The MEAN MapApp</h3>
    <nav class="col-sm-auto nav nav-pills nav-fill">
      <a routerLink="/join" class="nav-link" data-toggle="pill">Join the Team</a>
      <a routerLink="/find" class="nav-link" data-toggle="pill">Find Teammates</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <hr />
    <!-- Map and Side Panel -->
  <div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
      <div id="map" style="width:645px; height:645px"></div>
    </div>
    <!-- Side Panel -->
    <div class="col-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr/>
  <!-- Footer -->
  <div class="footer">
  </div>
</div>
